/* fonts */
body {
  font-family: Molengo, sans-serif;
}

/* different font for printing
@media print {
  body {
    font-family: Molengo, sans-serif;
  }
}*/

/* molengo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Molengo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/molengo-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dark/light mode */
/*   for the switch button */
:root.dark {
  --background: #161616;
  --foreground: #ffffff;
  --accent1: #4c4c4c;
  --accent2: #6ee0ac;
}
:root.light {
  --background: #e9e9e9;
  --foreground: #000000;
  --accent1: #b3b3b3;
  --accent2: #2ea06c;
}

/* mobile */
@media only screen and (max-width: 800px) {
  /* no logos */
  .worklist {
    background-image: none !important;
    padding-right: 0px !important;
  }

  /* no logo switch button */
  .logoswitch {
    display: none
  }

  /* date range on own line */
  span.date {
    min-width: 100%;
    font-size: 80%;
  }

}

@media only screen and (max-width: 400px) {
  .profile img {
    display: none;
  }
}

/* print */
@media print {
  /* overwrite dark AND light mode */
  :root.dark {
    --background: #ffffff;
    --foreground: #000000;
    --accent1: #b3b3b3;
    --accent2: #0e804c;
  }
  :root.light {
    --background: #ffffff;
    --foreground: #000000;
    --accent1: #b3b3b3;
    --accent2: #0e804c;
  }

  body {
    font-size: 14px;
  }

  .pagebreak {
    break-after: page;
  }

  .topbar {
    display: none;
  }

  span.date {
    min-width: 100%;
    font-size: 80%;
  }
}

/* style */
body {
  line-height: 1.5;
  margin: auto;
  padding: 3px;
  max-width: 1024px;
  display: none;
  background-color: var(--background);
  color: var(--foreground);
}

.topbar {
  position: absolute;
  top: 0;
  right: 10px;
}

.topbar button {
  border: 0;
  background-color: transparent;
  color: var(--foreground);
  cursor: pointer;
}

div.profile {
  min-width: 100%;
  height: 108px;
  background-color: var(--accent1);
}

.profile img {
  float: right;
  border-radius: 50%;
  width: 100px;
  padding: 4px;
}

.profile ul {
  float: right;
  font-size: 16px;
  padding: 4px;
  line-height: 1.25;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

h1 {
  margin: 0;
  font-size: 32px;
  padding: 30px;
  float: left;
}

h2 {
  border-bottom: 1px solid var(--accent2);
  padding: 2px;
  clear: both;
}

h3 {
  margin-top: 3em;
}

h3 a {
  color: var(--foreground);
}

blockquote {
  text-align: right;
  float: right;
  margin: 2em 0 0 0;
}

span.achievement {
  color: var(--accent2);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

.worklist {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 120px;
  padding-right: 120px;
}

div.nologo {
  background-image: none !important;
  padding-right: 0px !important;
}

.small {
  margin-top: 2em;
  text-decoration: none;
  font-size: 90%;
}
